<div class="container-fluid vh-100 d-flex">

    <div class="form-container">        
        <form>
        <h2>Restablece tu contraseña</h2>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Ingrese su contraseña">
            <button mat-icon-button matSuffix (click)="hide = !hide" class="icon-margin">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirmar contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Ingrese su contraseña">
            <button mat-icon-button matSuffix (click)="hide = !hide" class="icon-margin">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>                         
          <button mat-raised-button class="login-btn" (click)="irALogin()">Cambiar contraseña</button>          
        </form>
    </div>

    <div class="image-container">
      <img src="/images/background.jpg" alt="Inicio de sesión">
      <div class="image-mask"></div>

      <div class="content">
        <img src="/images/logo.png" alt="Logo de la app" class="logo">
        <h1 class="welcome-text">Restablecer contraseña</h1>
        <p class="subtitle">Escribe y confirma tu nueva contraseña</p>
      </div>
    </div>
  </div>
  
  