html, body { 
    height: 100%; 
    margin: 0; 
    font-family: 'Poppins', sans-serif !important; 
  }
  
  .mat-mdc-form-field label,
  .mat-mdc-text-field-wrapper,
  .mat-mdc-form-field .mdc-text-field__input {
    font-family: 'Poppins', sans-serif !important;
  }
  
  .mat-mdc-button, 
  .mat-mdc-raised-button, 
  .mat-mdc-outlined-button, 
  .mat-mdc-unelevated-button {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500;
  }

  .register-link {
    color: #41444F !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    text-transform: none !important;
    background: none !important;
    border: none !important;
    padding: 0 16 !important;
  }

  .forgot-password-btn {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #6D7183 !important;
    text-transform: none !important;
  }

  .login-btn {
    width: 100%;
    background-color: #1078FF !important;
    color: #FFFFFF !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    border-radius: 12px !important;
    padding: 12px 0 !important;
    text-transform: none !important;
    margin-top: 40px !important;
  }

  .mat-mdc-form-field.mat-mdc-form-field-type-mat-input {
    --mdc-outlined-text-field-outline-color: #A7AAB5 !important;
    --mdc-outlined-text-field-outline-width: 1px;
    --mdc-outlined-text-field-container-shape: 8px;
  }

  
  