<section class="py-5">
    <header class="header">
        <div class="header-logo">
            <img src="/images/logo-color.png" alt="Logo">
            <span class="header-title">Aularma</span>
        </div>
        <div class="header-profile" (click)="irAProfile()">
            <mat-icon>account_circle</mat-icon>
        </div>
    </header>
    <div class="container-fluid px-0">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <div class="container d-flex px-0">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Calendario</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Contactos</button>
                </li>
            </div>
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="container-fluid px-4 py-5">
                <div class="row">
                    <div class="col-3">
                        <button class="btn btn-primary">Crear evento</button>
                    </div>
                    <div class="col-9">
                        <full-calendar [options]="calendarOptions"></full-calendar>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <div class="container-fluid px-4 py-5">
                Contactos de Aularma
            </div>
        </div>
    </div>
</section>